<!-- head is for "meta data" stuff that you dont see -->
<head>
    <!-- style is CSS, wihtout it the tic tac toe is small -->
    <link rel="stylesheet" href="static/minigame.css">
    <script src="static/minigame.js" defer></script>
</head>

<!-- inside the body you set what blocks you see in the page -->
<body>
    <table>
        <!-- tr is table row -->
      <tr>
        <!-- td is table data (block) -->
        <td id="1"></td>
        <td id="2"></td>
        <td id="3"></td>
      </tr>
      <tr>
        <td id="4"></td>
        <td id="5"></td>
        <td id="6"></td>
      </tr>
      <tr>
        <td id="7"></td>
        <td id="8"></td>
        <td id="9"></td>
      </tr>
    </table>

    <!-- JavaScript handles the logic and clicks -->
    
</body>
